<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="neuroBEM">
    <xacro:include filename="$(find quadrotor_description)/description/generic.xacro" />
    <xacro:quadrotor_generic ARM_X='0.028' ARM_Y='0.028' ARM_Z='0.009' MASS='0.027' IXX='1.4e-5' IYY='1.4e-5' IZZ='2.17e-5' base_color='0.5 0.5 0.5 0.9' prop_color= '0.2 0.0 0.6 0.95'/>
</robot>